.container{

    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;

}

.countrieeee{

    border: 3px solid goldenrod;
    background-color: aquamarine;
    border-radius: 20px;
    padding: 20px;
}

.countrieeee img{

    width:200px;
}